
.about-info {
    position: relative;
    top: -180px;
    width: 1150px;
}

.about-info h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
}

.about-info h1 {
    font-size: 25px;
    font-weight: 700;
    color:#16416d ;
    border-bottom: 1px solid #cfcfcf ;
}

.about-info__list li {
    margin-top: 15px;
}

.about-info__list h2 {
 color: black;
 font-size: 20px;
 font-weight: 600;
}