.page-advertisement {
    position: relative;
    top: -120px;
    width: 1100px;
   
}

.page-advertisement__title {
    border-bottom: 1px solid #cfcfcf ;
;
}

.page-advertisement h1 a {
 
 font-size: 25px;
 font-weight: 700;
 color: #16416d;
 width: 460px;
}

.page-card01 {
    padding-top: 15px;
 width: 700px;
 height: 110px;
 border-bottom: 1px solid rgb(229 231 235);
}

.page-card__name h1 a {
      color: black;

   font-size: 20px;
   font-weight: 600;
}

.page-card01 p {
    color: blue;
    position: relative;
    top: 0px;
}

.page-card01 h2 {
   margin-top: 15px;
   margin-bottom: 15px;
    width: 700px;
}

.page-card01 h2 a {
    color: rgba(0, 0, 0, 0.725);
   font-size: 20px;
   font-weight: 500;
}

.page-card01 h3 {
    position: relative;
    left: 600px;
    top: -18px;
    width: 100px;
}

.page-card01 h3 a {
    color: blue;
    font-size: 16px;
    font-weight: 500;
}