.side-nav {
 width: 190px;
 position: relative;
 left: 1200px;
}

.side-nav__list {
    border-left: 1px solid #eff2f5 ;
   
}


.side-nav__item.active {
    border-left-color: #114476;
}

.side-nav__item.active a {
    color: #114476;

}

.side-nav__item {
  border-left: 2px solid transparent;
}


 .side-nav__link{
  color: #676767;
  font-size: 20px;
    font-weight: 600;
    padding: 20px 0 20px 20px ;
    display: block;
   
}   


.breadcrumb-list {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
}


.breadcrumb-item a {
    color: #676767;
}


.breadcrumb-item span {
     color: blue;
     position: relative;
}

.breadcrumb-item span::after {
 content:'/';
 position:absolute ;
 top: 2px;
 right: -13px;
 color: #676767 ;
}



.page-Noviny {
    width: 900px;
    position: relative;
    top: -125px;
    
    
}

.page-Noviny h1 a {
    
 font-size: 25px;
 font-weight: 700;
 color: #16416d;
}

.page-card {
    padding-top: 20px;
    width: 960px;
    height: 210px;
   border-bottom: 1px solid rgb(229 231 235);
}

.page-card__foto img {
    width: 290px;
    height: 180px;
    border-radius: 0px;
}

.page-card__title h1 {
width: 620px;
}

.page-card__title  {
    position: relative;
   top:-200px;
   left: 310px;
   width: 500px;
}

.page-card__title h1 a {
   color: black;
   font-size: 20px;
   font-weight: 700;
   
}


.page-card__title p {
     color: blue;
   font-size: 15px;
   font-weight: 500;
  position: relative;
  top: 180px ;
   width: 100px;
}

.page-card h2 {
    position: relative;
   top:-182px ;
   left: 850px;
   width: 120px;
}

.page-card h2 a {
     color: blue;
   font-size: 15px;
   font-weight: 500;
}



.page-Noviny h2 a {
    color: blue;
    font-size: 16px;
    font-weight: 500;
}

.page-card__text h1 {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 500;
    height: 100px;
}

.pagination {
    padding-top: 15px;
}

.pagination-list {
    display: flex;
   justify-content: center;
   gap: 15px;
}

.pagination-item {
    color: rgb(0, 94, 255);
    text-decoration: underline;
}

